language: objective-c
osx_image: xcode7
xcode_project: GlossExample/GlossExample.xcworkspace
xcode_scheme: GlossExample
podfile: GlossExample/Podfile

before_install: gem install cocoapods -v '= 0.39.0'

script:
   - xcodebuild test -workspace GlossExample/GlossExample.xcworkspace -scheme GlossExample -sdk iphonesimulator ONLY_ACTIVE_ARCH=NO
   - pod lib lint --quick
